<h1>Bienvenido</h1>
<p>Pagina de inicio</p>
<p>UNAN-Leon</p>

<h3>Imprimiendo un array Ruby dentro de una vista</h3>
<% @dias.each do |dia| %>
<%= dia %> <br>
<% end %>

<h3> Método last</h3>
<%= @dias.last %>


<p>Primer campo del array:<%= @dias.first %></p>
<p>Tamaño del array:<%= @dias.size %></p>